<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }

      #mentor {
        display: none;
      }
      }
    </style>
  </head>
  <body class="text-center" ng-app="">
    <form class="form-signin" name="signin">
        <h1 class="h3 mb-3 font-weight-normal" style="font-family: 'Permanent Marker', cursive;">Sign Up</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="#" style="font-family: 'Permanent Marker', cursive;">Mentor On Demand</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" style="font-family: 'Josefin Sans', sans-serif;" routerLink='/signin'>Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="font-family: 'Josefin Sans', sans-serif;" href="#">Search Trainings</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link active dropdown-toggle" style="font-family: 'Josefin Sans', sans-serif;" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign Up</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" style="font-family: 'Josefin Sans', sans-serif;" (click)="mreload()" routerLink='/msignup'>Mentor</a>
                    <a class="nav-item active dropdown-item" style="font-family: 'Josefin Sans', sans-serif;" (click)="reload()" routerLink='/signup'>User</a>
                  </div>
                </li>
            </ul>
          </div>
        </nav>
        <select class="form-control" id="role" name="role" [(ngModel)]="user.role" required autofocus>
            <option [ngValue]="undefined" disabled  selected>Choose Role...</option>
            <option value="MENTOR" [ngValue]="MENTOR" disabled>Mentor</option>
            <option value="USER" [ngValue]="USER">User</option>
        </select><br>
        
        <input type="text" pattern="^[A-Za-z -]+$" name="fullName" ng-model="fullName" [(ngModel)]="user.fullName" id="fullName" class="form-control" placeholder="Full Name" required><span style="color: red" ng-show="signin.fullName.$touched && signin.fullName.$invalid">Please Enter Full Name!</span><br>
        <select class="form-control" name="gender" id="gender" [(ngModel)]="user.gender" required>
            <option [ngValue]="undefined" selected disabled>Gender</option>
            <option value="Male" [ngValue]="Male">Male</option>
            <option value="Female" [ngValue]="Female">Female</option>
            <option value="Unspecified" [ngValue]="Unspecified">Do not want to specify</option>
        </select><br>
        <input type="text" pattern="^[0-9]+$" maxlength="10" minlength="10" ng-model="contactNumber" name="contactNumber" [(ngModel)]="user.contactNumber" id="contactNumber" class="form-control" placeholder="Mobile Number" required><span style="color: red" ng-show="signin.contactNumber.$touched && signin.contactNumber.$invalid">Please Enter a Mobile Number!</span><br>
        <input type="text" ng-model="userName" name="userName" [(ngModel)]="user.userName" id="userName" class="form-control" placeholder="Email Address / Username" required><span style="color: red" ng-show="signin.userName.$touched && signin.userName.$invalid">Please Enter Email!</span><br>
        <div class="input-group mb-3">
        <input #x type="password" name="password" [(ngModel)]="user.password" id="inputPassword" class="form-control" placeholder="Password" required><br>
        <div id="icon" class="input-group-append">
            <span class="add-on btn btn-info form-control form-signin" style="color: cadetblue" (click)="x.type=x.type=='password'?'text':'password'; y.className=y.className=='fa fa-eye'?'fa fa-eye-slash':'fa fa-eye'"><i #y class="fa fa-eye"></i></span> 
          </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" style="font-style: italic" type="submit" (click)="createUser()">Sign Up</button>
        <p class="mt-3 mb-3">Already have an account? <a routerLink='/signin'>Sign In </a> |<a routerLink='/'> Home</a></p>
        <p class="mt-3 mb-3">&copy; 2019 Pronit Kumar Ray</p>
    </form>
</body>