  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="text-center" ng-app="">
    <form style="margin: auto" class="form-signin" name="homepage">
        <h1 class="h3 mb-3 font-weight-normal" style="font-family: 'Permanent Marker', cursive;">Mentor On Demand</h1>
        <!-- <h1 class="h6 mb-3 font-weight-normal" style="font-family: 'Bungee', cursive;">Search for your courses!</h1> -->
        <input [(ngModel)]="mentor.startingDate" name="startingDate" placeholder="Starting Date" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date"><br>
        <input [(ngModel)]="mentor.endingDate" name="endingDate" placeholder="Ending Date" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date"><br>
        <select class="form-control" [(ngModel)]="training.trainingName" name="trainingName">
            <option [ngValue]="undefined" selected disabled>Select Technology...</option>
            <option *ngFor="let train of trainings">{{train.trainingName}}</option>
        </select><br>
        <button class="btn btn-lg btn-primary btn-block" style="font-style: italic" type="submit" (click)="check(mentor.startingDate, mentor.endingDate, training.trainingName)">Search for your courses!</button>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" style="font-family: 'Permanent Marker', cursive;" href="#">Mentor On Demand</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" style="font-family: 'Josefin Sans', sans-serif;" routerLink='/signin'>Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" style="font-family: 'Josefin Sans', sans-serif;" href="#">Search Trainings</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="font-family: 'Josefin Sans', sans-serif;" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign Up</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" style="font-family: 'Josefin Sans', sans-serif;" (click)="mreload()" routerLink='/msignup'>Mentor</a>
                    <a class="dropdown-item" style="font-family: 'Josefin Sans', sans-serif;" (click)="reload()" routerLink='/signup'>User</a>
                  </div>
                </li>
            </ul>
          </div>
        </nav>
    </form>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</body>